In [1]:
import pandas as pd
import numpy as np

In [2]:
year = '2018'

In [9]:
# add column headers from separate file
headers = pd.read_csv(
    f'https://www.fec.gov/files/bulk-downloads/data_dictionaries/oth_header_file.csv',
)

oth = pd.read_csv(
    f'data/itoth.txt', 
    sep = '|', 
    error_bad_lines = False, 
    header = None, 

)

oth.columns = [x.lower() for x in headers]

oth.head()

,cmte_id,amndt_ind,rpt_tp,transaction_pgi,image_num,transaction_tp,entity_tp,name,city,state,...,employer,occupation,transaction_dt,transaction_amt,other_id,tran_id,file_num,memo_cd,memo_text,sub_id
0,C00390633,N,YE,P2018,201801249090614097,24K,CCM,PETE AGUILAR FOR CONGRESS,SAN BERNARDINO,CA,...,NaN,NaN,12182017.0,2500,C00510461,EXPB29537,1199694,NaN,NaN,4012420181503168911
1,C00392464,N,YE,P,201801249090614161,24K,COM,FEARLESS FOR THE PEOPLE PAC,LOS ANGELES,CA,...,NaN,NaN,12122017.0,1000,C00629071,EXPB41318,1199696,NaN,NaN,4012420181503168913
2,C00392464,N,YE,P,201801249090614161,24K,COM,FEARLESS FOR THE PEOPLE PAC,LOS ANGELES,CA,...,NaN,NaN,12132017.0,500,C00629071,EXPB41321,1199696,NaN,NaN,4012420181503168915
3,C00392464,N,YE,P2018,201801249090614162,24K,CCM,TED DEUTCH FOR CONGRESS COMMITTEE,WASHINGTON,DC,...,NaN,NaN,12132017.0,2000,C00469163,EXPB41322,1199696,NaN,NaN,4012420181503168921
4,C00392464,N,YE,P2018,201801249090614161,24K,CCM,LEE THOMAS MILLER FOR CONGRESS,FRANKLIN,TN,...,NaN,NaN,12122017.0,2000,C00659748,EXPB41320,1199696,NaN,NaN,4012420181503168917